<link rel="stylesheet" href="/css/modal.css" />

<form action="" method="post" onsubmit="submitForm(this,event)">
  <input type="hidden" name="employee_id" value="employee_id" />
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Employee</h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="form-item">
      <label for="employee_name" class="form-label">Name</label>

      <input
        type="text"
        class="form-control"
        id="employee_name"
        name="employee_name"
        value="Name"
        placeholder="For Employee Name"
        required
      />
    </div>
    <div class="form-item">
      <label for="employee_email" class="form-label">Email-Id</label>

      <input
        type="email"
        class="form-control"
        id="employee_email"
        name="employee_email"
        value="abc@gmail.com"
        placeholder="abc@gmail.com"
        required
      />
    </div>

    <div class="form-item">
      <label for="employee_role" class="form-label">Role</label>

      <select class="form-control" name="employee_role" id="employee_role">
        <option value="admin">Admin</option>
        <option value="employee" selected>Employee</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cancel
    </button>
    <button type="submit" class="btn btn-success">Update</button>
  </div>
</form>
