<table class="display dataTable" id="pending-reviews-table">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Email-Id</th>
      <th>Submit Feedback</th>
    </tr>
  </thead>
  <tbody>
    <tr id="row-id">
      <td>Name</td>
      <td>Email</td>
      <td><i class="fas fa-edit" style="color: #1255ca" data-bs-toggle="modal"
        data-bs-target="#modal" onclick="openFeedbackForm(this)"></i></td>
    </tr>
  </tbody>
</table>
