<table class="display dataTable" id="'submitted-reviews-table">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Email-Id</th>
      <th>Feedback</th>
    </tr>
  </thead>
  <tbody>
    <tr id="row-id">
      <td>Name</td>
      <td>Email</td>
      <td><i class="fas fa-eye" style="color: #038705;" data-bs-toggle="modal"
        data-bs-target="#modal" onclick="viewFeedback(this)"></i></td>
    </tr>
  </tbody>
</table>
